{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Digitization at Beracah Apartments 1</title>
  <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
        
    <!-- Canvas -->
    <canvas class="orb-canvas"></canvas>
    <!-- Overlay -->
    <div class="overlay">
    <!-- Overlay inner wrapper -->
    <div class="overlay__inner">
        <!-- Title -->
        <h1 class="overlay__title">
        Digitization at
        <span class="text">Beracah Apartments 1</span>
        </h1>
        <!-- Description -->
        <p class="overlay__description">
        Thank you for Filling the data
        </p>
        <!-- Buttons -->

    </div>
    </div>
    <script src="{% static 'script.js' %}"></script>
</body>
</html>